secrets.yaml
entity_registry.yaml
known_devices.yaml
custom_components
www
groups.yaml
plex.conf
home-assistant.log
home-assistant_v2.db
.storage
.git
.cloud
esphome
image
tts
HSO4UJ~R
*.db-shm
*.db-wal
blueprints/script/homeassistant/confirmable_notification.yaml
