homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 5
  unit_system: imperial
  time_zone: America/New_York
  customize: !include customize.yaml

map:

zone:
  - name: home
    latitude: !secret latitude
    longitude: !secret longitude
    radius: 200

proximity:
  home:
    devices:
      - !secret gtracker_one
      - !secret gtracker_two
    tolerance: 100
    unit_of_measurement: mi

cloud:

lovelace:
  mode: yaml

frontend:
  themes: !include themes.yaml

# BEGIN CONFIG
config:
http:
  api_password: !secret api_password
  base_url: !secret base_url

updater:

# Discover some devices automatically
discovery:
  ignore:
    - roku

# Allows you to issue voice commands from the frontend in enabled browsers
#conversation:

# Enables support for tracking state changes over time
history:
  include:
    domains:
      - switch
    entities:
      - group.sean
      - group.emily
      - light.bathroom
      - light.bedroom
      - light.living_room
      - light.office
      - sensor.living_room_thermostat_hvac_state
      - sensor.living_room_thermostat_temperature
      - sensor.bedroom_temperature_f
      - sensor.office_temperature_f
      - sensor.temperature_158d0002478a21
      - sensor.bathroom_temperature_f
      - sensor.dark_sky_temperature
      - sensor.sun_elevation
      - sensor.dark_sky_nearest_storm_distance
      - sensor.dark_sky_precip_probability
      - sensor.illumination_158d0002047afe
      - sensor.illumination_158d000237a64a
      - sensor.humidity_158d0002478a21
      - sensor.office_lux
      - sensor.living_room_thermostat_humidity

recorder:
  purge_interval: 1
  purge_keep_days: 7
  include:
    domains:
      - switch
    entities:
      - group.sean
      - group.emily
      - light.bathroom
      - light.bedroom
      - light.living_room
      - light.office
      - sensor.living_room_thermostat_hvac_state
      - sensor.living_room_thermostat_temperature
      - sensor.bedroom_temperature_f
      - sensor.office_temperature_f
      - sensor.temperature_158d0002478a21
      - sensor.bathroom_temperature_f
      - sensor.dark_sky_temperature
      - sensor.sun_elevation
      - sensor.dark_sky_nearest_storm_distance
      - sensor.dark_sky_precip_probability
      - sensor.illumination_158d0002047afe
      - sensor.illumination_158d000237a64a
      - sensor.humidity_158d0002478a21
      - sensor.office_lux
      - sensor.living_room_thermostat_humidity

# View all events in a logbook
logbook:

weather:
  - platform: darksky
    api_key: !secret dark_sky_api_key
    mode: daily

sun:

# Nest Temperature
nest:
  client_id: !secret nest_id
  client_secret: !secret nest_secret

# Hue
light:
  - platform: hue
    host: !secret hue_ip
hue:
  bridges:
    - host: !secret hue_ip
      allow_hue_groups: true

# Xiaomi
xiaomi_aqara:
  discovery_retry: 10
  gateways:
    - key: !secret xiaomi_key

# Switches
switch:
 - platform: tplink
   host: !secret tplink_switch_one_ip
 - platform: tplink
   host: !secret tplink_switch_two_ip
 - platform: tplink
   host: !secret tplink_switch_three_ip

wemo:
  static:
    - !secret wemo_ip

# Text to speech
tts:
  - platform: google

# Media
media_player:
  - platform: plex
    entity_namespace: plex
    include_non_clients: false
    scan_interval: 1
    show_all_controls: false
    use_custom_entity_ids: false
    use_episode_art: false
    remove_unavailable_clients: false

# Neato Vacuum
neato:
  username: !secret neato_user
  password: !secret neato_password

# IFTTT
ifttt:
  key: !secret ifttt_key

##########################
scene: !include scenes.yaml
group: !include groups.yaml
automation: !include_dir_merge_list automations
script: !include scripts.yaml
input_boolean: !include input_booleans.yaml
sensor: !include sensors.yaml
input_select: !include input_select.yaml
device_tracker: !include device_tracker.yaml
