/* SVG shapes */

svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
  background-color: var(--primary-background-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Hover over */

.entity:hover {
  stroke: #3498db !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Bootstrap succsss */

.success-text {
  fill: #3c763d !important;
}

.success-background, .success-text-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
  stroke: #d6e9c6 !important;
  stroke-width: 1px !important;
}

/* Bootstrap info */

.info-text {
  fill: #31708f !important;
}

.info-background, .info-text-background {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
  stroke: #bce8f1 !important;
  stroke-width: 1px !important;
}

/* Bootstrap warning */

.warning-text {
  fill: #8a6d3b !important;
}

.warning-background, .warning-text-background  {
  fill: #fcf8e3 !important;
  fill-opacity: 1 !important;
  stroke: #faebcc !important;
  stroke-width: 1px !important;
}

/* Bootstrap danger */

.danger-text {
  fill: #a94442 !important;
}

.danger-background, .danger-text-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
  stroke: #ebccd1 !important;
  stroke-width: 1px !important;
}

/* Last motion entity */

.last-motion {
  stroke: #808080 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Alarm Panel */

.alarm-disarmed {
  fill: #3c763d !important;
}

.alarm-armed {
  fill: #8a6d3b !important;
}

/* Camera */

.camera-idle {
/*  fill: #B9CEF7 !important; */
  fill: #6FAECE !important;
}

/* Light */

.light-off {
  fill: #15171a !important;
}

.light-on {
  fill: #f9c536 !important;
}

/* Vacuum */

.vacuum-off {
  fill: #15171a !important;
}

.vacuum-on {
  fill: #f9c536 !important;
}

/* Nest */

.temp-cooling {
  fill: #3498db !important;
}

.temp-heating {
  fill: #DF7F32 !important;
}

.temp-off {
  fill: #14161A !important;
}

/* Motion */

.motion-off {
  fill: #15171a !important;
    transition-duration: 7s;
}

.motion-on {
  fill: #3b97d3 !important;
    transition-duration: 1s;
}

/* Family */

.home-off {
  fill: #15171a !important;
}

.home-on {
  fill: #3b97d3 !important;
}

/* Doorbell */

.doorbell-off {
  fill: #C3B7F4 !important;
}

.doorbell-on {
  fill: #F8D2B9 !important;
}

/* Temperature sensor */

.temp-very-low-background {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
}

.temp-below-average-background {
  fill: #dcefe8 !important;
  fill-opacity: 1 !important;
}

.temp-average-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
}

.temp-very-high-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
}

/* Media player */

.media-off {
  fill: #15171a !important;
}

.media-on {
  fill: #f9c536 !important;
}

/* svg aniamtion start */
@keyframes rotation {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
}

#switch\.office_fan {
  transform-origin: center;
}

.fan-on {
  fill: #f9c536 !important;
/*  -webkit-animation: rotation 2s infinite linear;
  transform-box: fill-box */
}

.fan-off {
  fill: #15171a !important;
}

/* svg aniamtion end */
